body {
  text-align: center;
  background-color: rgb(238, 244, 142);
}

@keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(360deg);
  }
}

h1 {
  text-shadow: 2px 2px rgb(255, 255, 255);
  font-family: 'Skranji', cursive;
  font-size: 80px;
  border: 5px solid black;
  border-radius: 25px;
  padding: 50px;
  animation: spin 2s linear;
}

h2 {
  font-family: 'Acme', sans-serif;
  font-size: 40px;
}

h5 {
  font-family: 'Acme', sans-serif;
  font-size: 20px;
}
